In [1]:
import numpy as np 
import pandas as pd 
import os

train = pd.read_csv('tr.csv')
test = pd.read_csv('te.csv')

c:\users\fdm\desktop\my-challenge\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (41) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
train.head()

,id,label,age_source1,age_source2,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,...,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
0,0,0,0.0,0.0,1,1.0,2547.0,0.0,0.0,0.0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
1,1,0,44.0,44.0,1,0.0,-1.0,1.0,1.0,1.0,...,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0
2,2,0,30.0,30.0,0,1.0,3273.0,1.0,4.0,0.0,...,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0
3,3,0,43.0,0.0,0,1.0,3991.0,1.0,1.0,0.0,...,True,False,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
4,4,0,21.0,21.0,0,1.0,1450.0,0.0,2.0,0.0,...,True,True,29.77,13.789,30.955,31.171,0.0,0.03,0.0,0.0

In [3]:
test.head()

,id,age_source1,age_source2,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_8,...,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
0,30000,0.0,0.0,1,1.0,719.0,0.0,0.0,0.0,0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
1,30001,0.0,0.0,1,1.0,1442.0,0.0,0.0,0.0,0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0
2,30002,32.0,32.0,0,1.0,4000.0,2.0,3.0,0.0,MALE,...,True,False,29.77,66.428,30.955,31.171,0.0,0.31,0.0,0.0
3,30003,0.0,25.0,0,1.0,1073.0,0.0,0.0,0.0,FEMALE,...,True,True,29.77,21.478,30.955,31.171,0.0,0.05,0.0,0.0
4,30004,0.0,0.0,1,1.0,703.0,0.0,0.0,0.0,0,...,True,True,0.00,0.000,0.000,0.000,0.0,0.00,0.0,0.0

In [4]:

import xgboost as xgb

# prepare dict of params for xgboost to run with
xgb_params = {
    'n_trees': 520,
    'eta': 0.0045,
    'max_depth': 4,
    'subsample': 0.98,
    'objective': 'reg:linear',
    'eval_metric': 'rmse',
    'silent': 1
}

In [5]:

target = train['label']
f = train.drop(['label', 'id'] , axis = 1)
testf = test.drop(['id'], axis = 1 )

In [6]:
from sklearn.decomposition import PCA
pca = PCA(n_components=12)

In [7]:
tr = np.array(f)
te = np.array(testf)

In [9]:
train.dtypes

id               int64
label            int64
age_source1    float64
age_source2    float64
FIELD_1          int64
FIELD_2        float64
FIELD_3        float64
FIELD_4        float64
FIELD_5        float64
FIELD_6        float64
FIELD_8          int64
FIELD_10        object
FIELD_12        object
FIELD_14         int64
FIELD_15         int64
FIELD_16       float64
FIELD_17        object
FIELD_18        object
FIELD_19        object
FIELD_20        object
FIELD_21       float64
FIELD_22       float64
FIELD_23        object
FIELD_24        object
FIELD_25        object
FIELD_26        object
FIELD_27        object
FIELD_28        object
FIELD_29        object
FIELD_30        object
FIELD_31        object
FIELD_32         int64
FIELD_33         int64
FIELD_34         int64
FIELD_35        object
FIELD_36        object
FIELD_37        object
FIELD_38        object
FIELD_41        object
FIELD_42        object
FIELD_43        object
FIELD_44        object
FIELD_45        object
FIELD_46         int64
FIELD_47          bool
FIELD_48          bool
FIELD_49          bool
FIELD_50       float64
FIELD_51       float64
FIELD_52       float64
FIELD_53       float64
FIELD_54       float64
FIELD_55       float64
FIELD_56       float64
FIELD_57       float64
dtype: object

In [10]:
train.astype(float)

ValueError: could not convert string to float: 'T1'

In [12]:
from sklearn import tree
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(f, target, test_size=0.1, random_state=12)

# By using these function we are building and fit the model.
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

ValueError: could not convert string to float: 'T1'